name: Generate Docs
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/generate-docs.yml'
      - 'action.yml'
      - 'README.md'
  pull_request:
    paths:
      - '.github/workflows/generate-docs.yml'
      - 'action.yml'
      - 'README.md'

jobs:
  docs:
    name: Generate Docs
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20

      - name: Checkout
        uses: actions/checkout@v4.1.6
        with:
          token: ${{ secrets.THIS_PAT }}

      - name: Run doc generation
        uses: npalm/action-docs-action@v3.1.1

      # https://github.com/stefanzweifel/git-auto-commit-action#commits-made-by-this-action-do-not-trigger-new-workflow-runs
      - name: Commit doc changes
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
        with:
          commit_message: "docs: automated doc update"
          file_pattern: README.md
