on:
  push:
    branches:
      - main
name: release-please
jobs:
  release-please:
    if: github.repository_owner == 'andrewthetechie'
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          token: ${{ secrets.THIS_PAT }}
          release-type: python
          extra-files: |
            action.yml
